<a href="https://colab.research.google.com/github/Msourabh/Recommendation_system/blob/master/rs_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import sys
from itertools import combinations, groupby
from collections import Counter
from IPython.display import display

In [0]:
data = pd.read_csv('order_products__prior.csv')

In [0]:
orders = data.set_index('order_id')['product_id'].rename('item_id')

In [0]:
print(orders.shape)
display(orders.head(10))
type(orders)

(1775174,)

order_id
2    33120
2    28985
2     9327
2    45918
2    30035
2    17794
2    40141
2     1819
2    43668
3    33754
Name: item_id, dtype: int64

pandas.core.series.Series

In [0]:
# return item pairs.
def get_item_pairs(order_item):
    order_item = order_item.reset_index().as_matrix()
    for order_id, order_object in groupby(order_item, lambda x: x[0]):
        item_list = [item[1] for item in order_object]
              
        for item_pair in combinations(item_list, 2):
            yield item_pair
# return frequency of items          
def freq(iterable):
    if type(iterable) == pd.core.series.Series:
        return iterable.value_counts().rename("freq")
    else: 
        return pd.Series(Counter(iterable)).rename("freq")
      
# Returns number of unique orders
def order_count(order_item):
    return len(set(order_item.index))

In [0]:
# find the frequency of each item
item_freq = freq(orders).to_frame()
type(item_freq)
print(item_freq.shape)
item_freq.head()

(39604, 1)

        freq
24852  25969
13176  20776
21137  14462
21903  13204
47209  11632

In [0]:
# find number of unique orders
unique_orders = order_count(orders)
# calculate the support value for each item.
item_freq['support'] = (item_freq['freq']/unique_orders)*100
print(item_freq.shape)
item_freq.head()

(39604, 2)

        freq    support
24852  25969  14.768204
13176  20776  11.815018
21137  14462   8.224335
21903  13204   7.508928
47209  11632   6.614954

In [0]:
support_t = 0.01 #(0.01%)
#filter items which have support more than the threashold value.
quali_items= item_freq[item_freq['support']>=support_t].index
print(item_freq.shape)
item_freq.head()
item_freq.support.describe()
orders = orders[orders.isin(quali_items)]
print(orders.shape)
#print(quali_items)

(39604, 2)
(1639026,)

In [0]:
# find orders with less than 2 items.
order_size = freq(orders.index).to_frame()
print(order_size.head())
print(order_size.shape)
quali_orders = order_size[order_size.freq>=2].index
orders = orders[orders.index.isin(quali_orders)]
print(orders.shape)
print(orders.head())

   freq
2     8
3     8
4    12
5    21
7     2
(174787, 1)
(1629116,)
order_id
2    33120
2    28985
2     9327
2    45918
2    30035
Name: item_id, dtype: int64

In [0]:
# find item_pair usinf orders
items = Counter(get_item_pairs(orders))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [0]:
# find support anc create dataframe for this.
item_a = []
item_b = []
freq_c = []
support = []

for i in items:
  item_a.append(i[0])
  item_b.append(i[1])
  freq_c.append(items[i])
  support.append((items[i]/len(quali_orders))*100)

result = pd.DataFrame(columns=['item_a','item_b','freq','support'])
result['item_a'] = item_a
result['item_b'] = item_b
result['freq'] = freq_c
result['support'] = support

In [0]:
print(result.shape)
result.head()

(5592646, 4)

   item_a  item_b  freq   support
0   33120   28985    23  0.013950
1   33120    9327     3  0.001820
2   33120   45918     2  0.001213
3   33120   30035     1  0.000607
4   33120   17794    18  0.010917

In [0]:
# filter the result based on the support threashold
result = result[result.support>=support_t]
print(result.shape)
print(result.head())

(51081, 4)
    item_a  item_b  freq   support
0    33120   28985    23  0.013950
4    33120   17794    18  0.010917
10   28985   17794   157  0.095222
28   33754   24838    21  0.012737
30   33754   21903    93  0.056406

In [0]:
# measure confidence score.
result['confidence_a->b'] = np.array(result['support'])/np.array(item_freq.loc[result['item_a'],'support'])
result['confidence_b->a'] = np.array(result['support'])/np.array(item_freq.loc[result['item_b'],'support'])

In [0]:
result.head()

    item_a  item_b  freq   support  confidence_a->b  confidence_b->a
0    33120   28985    23  0.013950         0.021574         0.006635
4    33120   17794    18  0.010917         0.016884         0.004748
10   28985   17794   157  0.095222         0.045292         0.041416
28   33754   24838    21  0.012737         0.012991         0.008156
30   33754   21903    93  0.056406         0.057532         0.007512

In [0]:
# measure lift score
result['lift'] = np.array(result['support'])/(np.array(item_freq.loc[result['item_a'],'support'])*np.array(item_freq.loc[result['item_b'],'support']))

In [0]:
result.head()

    item_a  item_b  freq   support  confidence_a->b  confidence_b->a      lift
0    33120   28985    23  0.013950         0.021574         0.006635  0.010262
4    33120   17794    18  0.010917         0.016884         0.004748  0.007344
10   28985   17794   157  0.095222         0.045292         0.041416  0.019699
28   33754   24838    21  0.012737         0.012991         0.008156  0.008319
30   33754   21903    93  0.056406         0.057532         0.007512  0.007662

In [0]:
# sort result based on lift value
result = result.sort_values('lift', ascending=False)
print(result.head())
print(result.shape)

        item_a  item_b  freq  ...  confidence_a->b  confidence_b->a       lift
456627   29479   16508    20  ...         0.410199         0.313681  10.607493
654638   29126   36361    17  ...         0.262765         0.377725   9.626172
68911    23953   27553    19  ...         0.273835         0.397330   9.441625
496971   12820   11212    21  ...         0.306806         0.361239   8.701613
79737     8186   42085    20  ...         0.260126         0.387824   8.316651

[5 rows x 7 columns]
(51081, 7)

In [0]:
# import product data to get product name
product_names = pd.read_csv('products.csv')
product_names.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
# filter products using qualified orders 
product_name=product_names[product_names['product_id'].isin(quali_items)]

In [0]:
# make copy to convert item_id into item_name
final_result = result.copy()
final_result['item_a'] = pd.Series(result['item_a']).replace(list(product_names['product_id']),list(product_names['product_name']))
final_result['item_b'] = pd.Series(result['item_b']).replace(list(product_names['product_id']),list(product_names['product_name']))
final_result.head()

                                                   item_a  ...       lift
456627                 Gobble Gobble Turkey Pouch Stage 3  ...  10.607493
654638   Organic Strawberry Chia Lowfat 2% Cottage Cheese  ...   9.626172
68911              Cream on Top Strawberry Organic Yogurt  ...   9.441625
496971          Organic Fruit Yogurt Smoothie Mixed Berry  ...   8.701613
79737   Baby Food Pouch - Butternut Squash, Carrot & C...  ...   8.316651

[5 rows x 7 columns]

In [0]:
# function to recommend using item_id
def get_recommendation_by_id(item):
  selected_item_a = result[result['item_a'] == item]
  selected_item_b = result[result['item_b'] == item]
  if selected_item_a.shape[0] == 0 and selected_item_b.shape[0] == 0:
    return {'message':'There is no recoomendation for this item'}
  elif selected_item_a.shape[0] != 0 and selected_item_b.shape[0] != 0:
    #items = list(selected_item_a['item_b'])+list(selected_item_b['item_a'])
    selected_item_a = selected_item_a.loc[:,['item_b','support','confidence_a->b','lift']].rename(columns={'item_b':'item_id','confidence_a->b':'confidence'})
    selected_item_b = selected_item_b.loc[:,['item_a','support','confidence_b->a','lift']].rename(columns={'item_a':'item_id','confidence_b->a':'confidence'})
    final = pd.concat([selected_item_a,selected_item_b],axis=0)
    return final
  if selected_item_a.shape[0] != 0:
    return selected_item_a.loc[:,['item_b','support','confidence_a->b','lift']].rename(columns={'item_b':'item_id','confidence_a->b':'confidence'})
  if selected_item_b.shape[0] != 0:
    return selected_item_b.loc[:,['item_a','support','confidence_b->a','lift']].rename(columns={'item_a':'item_id','confidence_b->a':'confidence'})

In [0]:
get_recommendation_by_id(21903)

         item_id   support  confidence      lift
416836     13457  0.014556    0.001939  0.034432
1504456     9000  0.013343    0.001777  0.028151
387269      6860  0.012130    0.001615  0.028125
23750      12597  0.012737    0.001696  0.027364
8217       40311  0.010311    0.001373  0.025416
461445     32412  0.011524    0.001535  0.025221
207887     30953  0.011524    0.001535  0.024533
292890     20760  0.013950    0.001858  0.024198
522734      2780  0.010311    0.001373  0.023442
19157      33401  0.071569    0.009531  0.022834
126134     45063  0.038210    0.005089  0.022539
131996     37147  0.013950    0.001858  0.022223
550668      8912  0.012130    0.001615  0.022193
252359     42617  0.016376    0.002181  0.022167
124581     33147  0.017589    0.002342  0.022145
394984     24933  0.018802    0.002504  0.021906
376345      2309  0.015769    0.002100  0.021723
933029     34034  0.012737    0.001696  0.021614
395543     20127  0.014556    0.001939  0.021575
39547      26800  0.055799    0.007431  0.021492
48535      40604  0.155874    0.020758  0.021003
262952      5024  0.018195    0.002423  0.020990
8214       46802  0.115237    0.015347  0.020985
23757      25005  0.033358    0.004442  0.020887
462001      9955  0.019408    0.002585  0.020754
32806      26128  0.035784    0.004766  0.020640
32808      34584  0.047308    0.006300  0.020516
55175       1468  0.026687    0.003554  0.020490
32810      47492  0.028506    0.003796  0.020415
32807      24082  0.035178    0.004685  0.020391
...          ...       ...         ...       ...
187273      9387  0.037604    0.005008  0.004584
127137     23537  0.013950    0.001858  0.004582
493363     48697  0.010311    0.001373  0.004556
363453     40571  0.018802    0.002504  0.004493
371045     32478  0.016982    0.002262  0.004409
263435      4210  0.038210    0.005089  0.004346
382347     15902  0.012130    0.001615  0.004324
162918     32403  0.010311    0.001373  0.004319
82540      25146  0.024261    0.003231  0.004237
706577     44570  0.012130    0.001615  0.004221
753419     31066  0.011524    0.001535  0.004210
46663       6184  0.029719    0.003958  0.004118
582912     24954  0.010311    0.001373  0.004113
436772     32691  0.011524    0.001535  0.004101
383494     17316  0.010311    0.001373  0.004065
176756     12916  0.012130    0.001615  0.004058
183249     23734  0.020621    0.002746  0.004034
227464     14197  0.010917    0.001454  0.003903
95030      25824  0.010311    0.001373  0.003851
1384290    35898  0.010311    0.001373  0.003845
235539     19691  0.010917    0.001454  0.003616
27712       1940  0.019408    0.002585  0.003607
11226      41844  0.020621    0.002746  0.003484
382359     17122  0.010311    0.001373  0.003479
119851     35561  0.011524    0.001535  0.003438
262885      7751  0.010311    0.001373  0.003430
95450      21376  0.011524    0.001535  0.003171
119476      8859  0.013950    0.001858  0.003050
302834     39408  0.015163    0.002019  0.002818
851152     23909  0.018195    0.002423  0.002071

[1996 rows x 4 columns]

In [0]:
product_names[product_names['product_id'] == 21903]

       product_id          product_name  aisle_id  department_id
21902       21903  Organic Baby Spinach       123              4

In [0]:
# function to recommend using item_name
def get_recommendation_by_name(item):
  selected_item_a = final_result[final_result['item_a'] == item]
  selected_item_b = final_result[final_result['item_b'] == item]
  if selected_item_a.shape[0] == 0 and selected_item_b.shape[0] == 0:
    return {'message':'There is no recoomendation for this item'}
  elif selected_item_a.shape[0] != 0 and selected_item_b.shape[0] != 0:
    #items = list(selected_item_a['item_b'])+list(selected_item_b['item_a'])
    selected_item_a = selected_item_a.loc[:,['item_b','support','confidence_a->b','lift']].rename(columns={'item_b':'item_name','confidence_a->b':'confidence'})
    selected_item_b = selected_item_b.loc[:,['item_a','support','confidence_b->a','lift']].rename(columns={'item_a':'item_name','confidence_b->a':'confidence'})
    final = pd.concat([selected_item_a,selected_item_b],axis=0)
    return final
  if selected_item_a.shape[0] != 0:
    return selected_item_a.loc[:,['item_b','support','confidence_a->b','lift']].rename(columns={'item_b':'item_name','confidence_a->b':'confidence'})
  if selected_item_b.shape[0] != 0:
    return selected_item_b.loc[:,['item_a','support','confidence_b->a','lift']].rename(columns={'item_a':'item_name','confidence_b->a':'confidence'})

In [0]:
name = 'Organic Baby Spinach'
get_recommendation_by_name(name)

                                                 item_name  ...      lift
416836                         Pad Thai Brown Rice Noodles  ...  0.034432
1504456                            Organic Yellow Zucchini  ...  0.028151
387269                        Organic Balsamic Vinaigrette  ...  0.028125
23750                 Organic Bakery Tortillas Whole Spelt  ...  0.027364
8217                         Organic Mixed Baby Kale Salad  ...  0.025416
461445                        Garbanzo Beans No Salt Added  ...  0.025221
207887                          Sliced Beets No Salt Added  ...  0.024533
292890                              Pork Breakfast Sausage  ...  0.024198
522734                                    Diced Red Onions  ...  0.023442
19157                                 Goat Cheese Crumbles  ...  0.022834
126134                        Organic Baby Bella Mushrooms  ...  0.022539
131996                                  Organic Soy Tempeh  ...  0.022223
550668             Pears, Kale & Spinach Organic Baby Food  ...  0.022193
252359                        Organic Great Northern Beans  ...  0.022167
124581                           Organic Crimini Mushrooms  ...  0.022145
394984                                       Turmeric Root  ...  0.021906
376345                             Organic Ground Flaxseed  ...  0.021723
933029                          Roasted Garlic Pasta Sauce  ...  0.021614
395543                                Organic Lentil Beans  ...  0.021575
39547                                Organic Baby Kale Mix  ...  0.021492
48535                                 Feta Cheese Crumbles  ...  0.021003
262952                 Dark Red Kidney Beans No Salt Added  ...  0.020990
8214                                      Pineapple Chunks  ...  0.020985
23757                                Organic Green Lentils  ...  0.020887
462001                    Unsweetened Organic Coconut Milk  ...  0.020754
32806                                 Organic Mango Chunks  ...  0.020640
32808                               Organic Sliced Peaches  ...  0.020516
55175                        Organic Peeled & Cooked Beets  ...  0.020490
32810                                  Organic Berry Blend  ...  0.020415
32807                          Organic Dark Sweet Cherries  ...  0.020391
...                                                    ...  ...       ...
187273                                 Granny Smith Apples  ...  0.004584
127137                                   Light Brown Sugar  ...  0.004582
493363                                          Canola Oil  ...  0.004556
363453   Total 2% Greek Strained Yogurt with Cherry 5.3 oz  ...  0.004493
371045                                 Reduced Fat 2% Milk  ...  0.004409
263435                                          Whole Milk  ...  0.004346
382347                        100 Calorie  Per Bag Popcorn  ...  0.004324
162918                                  Fat Free Skim Milk  ...  0.004319
82540                                Original Orange Juice  ...  0.004237
706577                                         Kale Greens  ...  0.004221
753419                                       Aluminum Foil  ...  0.004210
46663                                          Clementines  ...  0.004118
582912    Total 0% with Honey Nonfat Greek Strained Yogurt  ...  0.004113
436772                                   Vanilla Ice Cream  ...  0.004101
383494                        Vitamin D Organic Whole Milk  ...  0.004065
176756                                          Ginger Ale  ...  0.004058
183249                                          Sour Cream  ...  0.004034
227464                                        Tomato Paste  ...  0.003903
95030                              Pita Chips Simply Naked  ...  0.003851
1384290                                 Original Hot Sauce  ...  0.003845
235539                               Green Seedless Grapes  ...  0.003616
27712                          Organic 2% Reduced Fat Milk  ...  0.003607
11226                                   Honey Nut Cheerios  ...  0.003484
382359                                   Honeycrisp Apples  ...  0.003479
119851                              Organic Tortilla Chips  ...  0.003438
262885                                      Tomato Ketchup  ...  0.003430
95450    Pretzel Crisps Original Deli Style Pretzel Cra...  ...  0.003171
119476                                Natural Spring Water  ...  0.003050
302834                                         Gala Apples  ...  0.002818
851152                                 2% Reduced Fat Milk  ...  0.002071

[1996 rows x 4 columns]

In [0]:
#item_a = []
#item_b = []
#freq_c = []
#support = []
c = 0
result_item = pd.DataFrame(columns=['item_a','item_b','freq'])
for i in items:
  if result_item[(result_item['item_a']==i[1])&(result_item['item_b']==i[0])].shape[0] == 0:
    result_item.loc[c,'item_a'] = i[0]
    result_item.loc[c,'item_b'] = i[1]
    result_item.loc[c,'freq'] = items[i]
    c=c+1
  else:
    result_item[(result_item['item_a']==i[1])&(result_item['item_b']==i[0])]['freq'] = result_item[(result_item['item_a']==i[1])&(result_item['item_b']==i[0])]['freq'] + items[i]
  
print(result_item.shape)
result_item.head()

#result_item['item_a'] = item_a
#result_item['item_b'] = item_b
#result_item['freq'] = freq_c
#support.append((items[i]/len(quali_orders))*100)
#result['support'] = support

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.